<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous"> {{!-- Font Awesome --}}
    <script src="https://use.fontawesome.com/aff7ba00d3.js"></script> {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    

</head>

<body>

    {{> header}}
    <div class="container">{{{body}}}
        <div id="clear"></div>
    </div>
    {{>footer}}



        
            {{!-- JavaScript --}}
    <script src="/assets/js/script.js"></script>
</body>

</html>